[submodule "Rice"]
	path = Rice
	url = ./Rice
[submodule "test_data"]
	path = Rice/Rice_Image_Dataset/test_data
	url = ./test_data
[submodule "Animals"]
	path = Animals
	url = ./Animals
[submodule "Birds-500"]
	path = Birds-500
	url = ./Birds-500
